<nav th:replace="partials/beforeBody.html"></nav>
<main class="px-3">
    <h1>Store every thing you need</h1>
    <p class="lead">Do you want to save significant data or information? Have you used to forget when you should do something?</p>
    <p class="lead">Try this app and see how easy and simple it is!</p>
    <p class="lead">
        <a href="register" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Sign up</a>
    </p>
</main>
<nav th:replace="partials/afterBody.html"></nav>