<nav th:replace="partials/beforeBody.html"></nav>
<head>
    <title>Store everything - Login</title>
</head>
    <h1>Sign in page</h1>

    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label class="default_padding control-label" for="login" >Login </label>
            <input type="text" id="login" name="username" class="form-control" required autofocus="autofocus"/>
        </div>
        <div class="form-group">
            <label class="default_padding control-label" for="password">Password</label>
            <input id="password" class="form-control" type="password" name="password" required autofocus="autofocus"/>
        </div>
        <br> <p th:if="${loginError}" class="error" th:class="error" >Wrong login or password!</p> <br>
        <div class="form-group">
            <input type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white" value="Log in" /> <br><br>
            <span>Don't have account? <a href="/" th:href="@{/registration}">Register here</a></span>
        </div>
    </form>

    <style>
        .default_padding{
            padding: 10px;
        }
    </style>
<nav th:replace="partials/afterBody.html"></nav>



