<nav th:replace="partials/beforeBody.html"></nav>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Create HTML registration form -->
     <!-- success message -->
     <div th:if="${param.success}">
         <div class="alert alert-info">You've successfully registered
             to our awesome app!
         </div>
     </div>

     <h1>Registration</h1>

     <form th:action="@{/registration}" method="post" th:object="${user}">
         <div class="form-group">
             <label class="default_padding control-label" for="login">Login </label>
             <input id="login" class="form-control" th:field="*{login}" required autofocus="autofocus"/>
         </div>

         <div class="form-group">
             <label class="default_padding control-label" for="name">Name </label>
             <input id="name" class="form-control" th:field="*{name}" required autofocus="autofocus"/>
         </div>

         <div class="form-group">
             <label class="default_padding control-label" for="surname">Surname </label>
             <input id="surname" class="form-control" th:field="*{surname}" required autofocus="autofocus"/>
         </div>

         <div class="form-group">
             <label class="default_padding control-label" for="age"> Age</label>
             <input id="age" type="number" class="form-control" th:field="*{age}" required autofocus="autofocus"/>
         </div>

         <div class="form-group">
             <label class="default_padding control-label" for="password">Password</label>
             <input id="password" class="form-control" type="password" th:field="*{password}" required autofocus="autofocus"/>
         </div><br>

         <div class="form-group">
             <button type="submit" class="btn btn-primary">Register</button><br><br>
             <span>Already registered? <a href="/" th:href="@{/login}">Log in here</a></span>
         </div>
     </form>

    <style>
        .default_padding{
            padding: 10px;
        }
    </style>

<nav th:replace="partials/afterBody.html"></nav>