<nav th:replace="partials/beforeBody.html"></nav>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head><title>Categories</title></head>
<h1>All categories</h1>
<a th:href="${'/categories/add'}">Add new category</a>
<ul  th:each="category : ${categories}">
    <li>
        <div>
            <a th:text="${category.name}" th:href="${'/categories/' + category.categoryId}"></a>
            <form action="#" th:action="${'/categories/' + category.categoryId}" th:method="delete">
                <input type="hidden" name="_method" value="delete"/>
                <button class="btn btn-danger" type="submit" id="deleteButton">Delete</button>
            </form>
        </div>
    </li>
</ul>

<nav th:replace="partials/afterBody.html"></nav>
