<nav th:replace="partials/beforeBody.html"></nav>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="container">
    <div>
        <div class="row">
            <div class="col-8">
                <h3 th:if="${!isShare}">My information</h3>
                <h3 th:if="${isShare}">Shared content</h3>
            </div>
            <div class="col-4" th:if="${!isShare}">
                <a th:href="${'informations/add'}">
                    <button type="button" class="btn btn-secondary">Add new information</button>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-end">
            <div class="col-4">
                <form action="#" th:href="${'informations'}" style="max-width: 600px; margin: 0 auto;">
                    <div class="form-group">
                        <label class="col-form-label" >Sort by: </label>
                        <select class="form-control d-inline-block" name="by">
                            <option value=1>Title ascending</option>
                            <option value=2>Title descending</option>
                            <option value=3>Category ascending</option>
                            <option value=4>Category descending</option>
                            <option value=5>Oldest added date</option>
                            <option value=6>Youngest added date</option>
                        </select>
                        <label class="col-form-label" >Filter by: </label>
                        <select class="form-control d-inline-block" name="name">
                            <option value="">Filter by category:</option>
                            <option value="MostPopular">Most popular</option>
                            <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
                        </select>
                        <label class="col-form-label">Filter by date</label>
                        <input type="date" class="form-control"  id="date" name="date">
                        <input class="btn btn-primary w-100" type="submit" value="Filter" style="margin-top: 10px;"/>
                    </div>
                </form>
            </div>
        </div>

    <div style="color: #333333" class="row">
        <div class="col-6 p-3" th:each="information : ${informations}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${information.getTitle()}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${information.getAddingDate()}"></h6>
                    <p class="card-text" th:text="${information.getContent()}"></p>
                    <a class="btn btn-secondary" th:if="${!isShare}"
                       th:href="${'/informations/' + information.getInformationId()}">Show details</a>
                    <a class="btn btn-secondary" th:if="${isShare}"
                       th:href="${'informations/share/' + information.getInformationId()}">Show details</a>
                        </div>
                    </div>
                </div>
    </div>
</div>


<nav th:replace="partials/afterBody.html"></nav>